*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{

    background-color: rgb(234, 193, 193);
    width: 100%; 
    border-radius: 7px;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 6px 0px;
}
.navbar ul li {
    font-family: century ;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a {
    color: rgb(0, 0, 0);
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{

    color: rgb(213, 35, 35);
}
#Home{
    display: flex;
    flex-direction: column;
    height: 840px;
    justify-content: center

}
#Home::before{
    content: "";
    position: absolute;
    right: 0;
    background: url(./src/img/home.JPG) no-repeat left;
    height: 985px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;


}
#pic {
    display: flex;

}
#pic img{
    width: 575px;
    height: 400px;
}
#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

#About h3{
    text-align: center;
}

.center-with-padding{
    padding: 90px;
}

section{
    padding: 0 10px;
}


.form-card{
    padding: 7px 26px;
}
.contact-me-div{
    padding: 5px 10px;
    

}
.contact-me-header{

    margin: 26px 0px;
}
.padding-left-100{
    padding-left: 250px !important;
}
.social-links a{
    font-size: 32px !important;
    color: #335da7 !important;
}