.sliderresim{
    height: 600px;
    background-color: #f2f2f2;
    object-fit: contain;
}
body{
    padding-top: 50px;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif !important;

}
.pasta>:hover{
    opacity: 0.8;
}